<div class="card-container m-2">
  <div class="card flex justify-content-center">

    <br>

    <button pButton (click)="showDialog()" icon="pi pi-plus" label="Subir Nuevo Archivo"
      class="p-button-primary m-2 p-button-outlined boton-redondo"></button>
    <br>
    <p-table [value]="archivos" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
      class="p-datatable-striped custom-table">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>#</th>
          <th pSortableColumn="nombre_archivo_id">Tipo de Archivo <p-sortIcon field="nombre_archivo_id"></p-sortIcon>
          </th>
          <th pSortableColumn="archivo">Nombre del Archivo <p-sortIcon field="archivo"></p-sortIcon></th>
          <th pSortableColumn="proyectoid">Proyecto <p-sortIcon field="proyectoid"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ obtenerNombresArchivos(rowData.nombre_archivo_id) }}</td>
          <td class="file-cell">
            <a [href]="rowData.archivo" target="_blank" class="file-link">
              <span class="pi pi-file"></span> {{ getFileName(rowData.archivo) }}
            </a>
          </td>
          <td>{{ obtenerNombresProyectos(rowData.proyectoid) }}</td>
          <td>
            <button pButton type="button" label="Editar" icon="pi pi-pencil"
              class="p-button-warning p-button-outlined boton-redondo" (click)="editArchivo(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>

<!-- AGREGAR ARCHIVO -->

<p-dialog header="Agregar un Nuevo Archivo" [(visible)]="visible" [style]="{width: '50vw'}">
  <div>
    <div class="form-container">
      <form (ngSubmit)="saveArchivo()" #archivoForm="ngForm" enctype="multipart/form-data">
        <div class="p-fluid">

        </div>
        <div class="form-field">
          <label for="archivo">Seleccionar el Nombre del Archivo</label>
          <p>
            <p-dropdown id="nombresArchivos" name="nombresArchivos" [(ngModel)]="archivosCrear.nombre_archivo_id"
              [options]="nombresArchivos" optionLabel="nombre_archivo" optionValue="id"
              placeholder="Seleccionar"></p-dropdown>
          </p>
        </div>

        <div class="form-group">
          <label for="archivo">Archivo:</label>
          <p-fileUpload name="archivo" (onSelect)="onFileSelect($event)" [maxFileSize]="1000000" [customUpload]="true"
            [chooseLabel]="'Seleccionar Archivo'" [cancelLabel]="'Cancelar'" [showUploadButton]="false">
          </p-fileUpload>
          <label>Archivo cargado: </label>
          <p>{{ archivoNombre }}</p>

        </div>

        <div class="form-field" style=" width: 100%">
          <label for="archivo">Seleccionar el Proyecto del archivo</label>
          <p>
            <p-dropdown id="proyecto" name="proyecto" [(ngModel)]="archivosCrear.proyectoid" [options]="proyectos"
              optionLabel="proyecto" placeholder="Seleccionar" optionValue="id"></p-dropdown>
          </p>
        </div>

        <button type="submit" pButton class="p-button-primary" label="Guardar"></button>
      </form>
    </div>
  </div>
</p-dialog>


<p-toast [style]="{ top: '80px'}"></p-toast>