
<div class="card-container m-2">
    <div class="card flex justify-content-center">
        <p-card header="Archivos">
          <button class="btn btn-primary" [routerLink]="['/archivoadd']">
            Agregar Nuevo Archivo
          </button>
            <div style="text-align: center" class="mt-2">
                <p-table 
                  [value]="archivos"
                  [paginator]="true"
                  [rows]="10"
                  [columns]="archivos"
                  class="custom-table">
                  <ng-template pTemplate="header" let-columns >
                    <tr class="custom-header">
                      <th>Id</th>
                      <th>Tipo de Archivo</th>
                      <th>Nombre del Archivo</th>
                      <th>Proyecto</th>
                      <th>Revisar</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-columns="columns">
                    <tr>
                      <td>{{rowData.id}}</td>     
                      <td>{{rowData.nombre_archivo_id}}</td>   
                      <td>
                        
                        <a href="{{ rowData.archivo }}" target="_blank"><span class="pi pi-file"></span> {{ rowData.archivo.split('/').pop() }}</a>
                      </td>   
                      <td>{{rowData.proyectoid}}</td>   
                      <td>
                        <a [routerLink]="'/archivos/' + rowData.id" class="btn btn-primary">Acciones</a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
        </p-card>
    </div>
</div>