<div *ngIf="viewMode; else editable">
    <div *ngIf="currentOperadoresI.id">
      <h4>Operador</h4>
      <div>
        <label><strong>Operador:</strong></label> {{ currentOperadoresI.operador }}
      </div>
  
      <a
        class="badge badge-warning"
        routerLink="/operadores/{{ currentOperadoresI.id }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentOperadoresI">
      <br />
      <p>Please click on a Operador...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentOperadoresI.id" class="edit-form">
      <h4>Operador</h4>
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentOperadoresI.operador"
            name="title"
          />
        </div>

      </form>
      <button class="btn btn-danger mt-2 mr-2" (click)="deleteOperador()">
        Eliminar
      </button>
  
      <button
        type="submit"
        class="btn btn-primary mr-2 mt-2"
        (click)="updateOperador()"
      >
        Actualizar
      </button>

      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentOperadoresI.id">
      <br />
      <p>Este Operador no Existe...</p>
    </div>
  </ng-template>