
<div class="card-container m-2">
    <div class="card flex justify-content-center">
        <p-card header="Entidades Financiadoras de proyectos">
          <button class="btn btn-primary" [routerLink]="['/roluadd']">
            Agregar Nuevo Rol
          </button>
            <div style="text-align: center" class="mt-2">
                <p-table 
                  [value]="roles"
                  [paginator]="true"
                  [rows]="10"
                  [columns]="roles"
                  class="custom-table">
                  <ng-template pTemplate="header" let-columns >
                    <tr class="custom-header">
                      <th>Id</th>
                      <th>Rol de la Universidad</th>
                      <th>Revisar</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-columns="columns">
                    <tr>
                      <td>{{rowData.id}}</td>     
                      <td>{{rowData.rolU}}</td>   
                      <td>
                        <a [routerLink]="'/rolu/' + rowData.id" class="btn btn-primary">Acciones</a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
        </p-card>
    </div>
</div>
