
.boton-redondo{
  border-radius: 10px;
}

/* Estilo para la tabla */
.custom-table {
width: 100%;
margin-top: 20px;

}

/* Estilo para los encabezados de columna */
.custom-table th {
background-color: #007bff; /* Color de fondo del encabezado */
color: white; /* Color del texto del encabezado */
text-align: left; /* Alineación del texto */
padding: 10px; /* Espaciado interno */
}

/* Estilo para las filas impares */
.custom-table tbody tr:nth-child(odd) {
background-color: #f2f2f2; /* Fondo de fila impar */
}

/* Estilo para las filas al pasar el ratón sobre ellas */
.custom-table tbody tr:hover {
background-color: #e0e0e0; /* Fondo al pasar el ratón */
}

/* Estilo para el enlace del archivo */
.custom-table a {
color: #007bff; /* Color del enlace */
text-decoration: none; /* Sin subrayado */
}

/* Estilo para el enlace del archivo al pasar el ratón sobre él */
.custom-table a:hover {
text-decoration: underline; /* Subrayado al pasar el ratón */
}

.custom-table {
border-collapse: collapse; /* Colapsar bordes para crear líneas entre celdas */
width: 100%;
}

.custom-table th, .custom-table td {
border: 1px solid #ddd; /* Borde de 1px con color gris claro */
padding: 8px; /* Espaciado interno */
text-align: left;
}

/* Contenedor del formulario */
.form-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-field {
  margin-bottom: 15px;
}

/* Estilos para etiquetas */
.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.button-container {
  text-align: right;
  margin-top: 20px;
}
