/* Estilo de la tabla */
.custom-table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
  }
  
  /* Estilo de las celdas del encabezado */
  .custom-table th {
    background-color: #d68c1d;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    border: 1px solid #b6aeae;
  }
  
  /* Estilo de las celdas de datos */
  .custom-table td {
    padding: 5px;
    border: 1px solid #ccc;
  }
