

<div class="card-container m-4">
  <div class="card flex justify-content-center">
      <p-card header="Proyectos">
          <div style="text-align: center">
            <p-table 
            [value]="pro"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [columns]="pro"
            class="custom-table">
            <ng-template pTemplate="header" let-columns >
              <tr class="custom-header">
                <th>Id</th>
                <th pSortableColumn="proyecto">Proyecto<p-sortIcon field="proyecto"></p-sortIcon></th>
                <th>Codigo</th>
                <th pSortableColumn="plazo">Plazo<p-sortIcon field="plazo"></p-sortIcon></th>
                <th>Rol Universidad</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Convocatoria</th>
                <th>Operador</th>
                <th>Entidad Financiadora</th>
                <th>Grupo de Investigación</th>
                <th>Detalles</th>
              </tr>
            </ng-template>  
            <ng-template
              pTemplate="body"
              let-rowData
              let-rowIndex="rowIndex">
              <tr>
                <td>{{rowIndex + 1 }}</td>     
                <td>{{rowData.proyecto}}</td>
                <td>{{rowData.codigo}}</td>
                <td>{{rowData.plazo}}</td>
                <td>{{ obtenerRolU(rowData.roluniversidadid) }}</td>
                <td>{{rowData.fechai}}</td>
                <td>{{rowData.fechaf}}</td>
                <td>{{ obtenerConvocatoriaNombre(rowData.convocatoriaid) }}</td>
                <td>{{ obtenerOperadorNombre(rowData.operadorid) }}</td>
                <td>{{ obtenerEntidadF(rowData.entidadfinanciadora) }}</td>
                <td>{{ obtenerGrupoI(rowData.grupoinvestigacionid) }}</td>
                <td>
                  <button pButton type="button" label="Ver Detalles" icon="pi pi-eye" class="p-button-warning p-button-outlined boton-redondo" routerLink="/seguimientos"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
  </div>
</div>