/* Estilo de la tabla */
.custom-table {
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
  }
  
  /* Estilo de las celdas del encabezado */
  .custom-table th {
    background-color: #f0af2b;
    color: #42bdcc;
    text-align: left;
    padding: 10px;
    border: 1px solid #e44d3f;
  }
  
  /* Estilo de las celdas de datos */
  .custom-table td {
    padding: 5px;
    border: 1px solid #e44d3f;
  }
