<div class="container m-2">
    <div *ngIf="proyectosform" class="project-details">
        <h2 class="project-title"><i class="pi pi-info-circle"></i> Detalles del Proyecto</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mt-2">
                    <label class="sr-only" for="proyecto"> <strong>Nombre del Proyecto</strong></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-book mt-2"></i></span>
                        </div>
                        <input type="text" class="form-control" id="proyecto" [disabled]="true"
                            [(ngModel)]="proyectosform.proyecto" [readonly]="true">
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="sr-only" for="codigo"><strong> Código del Proyecto</strong></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-key mt-2"></i></span>
                        </div>
                        <input type="text" class="form-control" id="codigo" [disabled]="true"
                            [(ngModel)]="proyectosform.codigo" [readonly]="true">
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label class="sr-only" for="fechaf"><strong>Convocatoria</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-briefcase mt-2"></i></span>
                        </div>
                        <select class="form-control" id="fechaf" [disabled]="true">
                            <option *ngFor="let i of convocatoriaNombre" [disabled]="true">{{ i.convocatoria }}
                            </option>
                        </select>
                    </div>
                </div>



                <div class="form-group mt-2">
                    <label class="sr-only" for="fechaf"><strong>Operador</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-briefcase mt-2"></i></span>
                        </div>
                        <select class="form-control" id="fechaf" [disabled]="true">
                            <option *ngFor="let i of operadorNombre" [disabled]="true">{{ i.operador }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="sr-only" for="fechaf"><strong>Grupo de investigacion</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-users mt-2"></i></span>
                        </div>
                        <select class="form-control" id="fechaf" [disabled]="true">
                            <option *ngFor="let i of grupoINombre" [disabled]="true">{{
                                i.grupoinvestigacion }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Agrega más campos aquí si es necesario -->

            </div>

            <div class="col-md-6">
                <div class="form-group mt-2">
                    <label class="sr-only" for="plazo"><strong>Plazo (Meses)</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-calendar mt-2"></i></span>
                        </div>
                        <input type="text" class="form-control" id="plazo" [disabled]="true"
                            [(ngModel)]="proyectosform.plazo" [readonly]="true">
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="sr-only" for="fechai"><strong>Fecha de Inicio</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-calendar-plus mt-2"></i></span>
                        </div>
                        <input type="text" class="form-control" id="fechai" [disabled]="true"
                            [(ngModel)]="proyectosform.fechai" [readonly]="true">
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="sr-only" for="fechaf"><strong>Fecha de Fin</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-calendar-minus mt-2"></i></span>
                        </div>
                        <input type="text" class="form-control" id="fechaf" [disabled]="true"
                            [(ngModel)]="proyectosform.fechaf" [readonly]="true">
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="sr-only" for="fechaf"><strong>Rol de la Universidad</strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-user mt-2"></i></span>
                        </div>
                        <select class="form-control" id="fechaf" [disabled]="true">
                            <option *ngFor="let i of rolU">{{
                                i.rolU }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="sr-only" for="fechaf"><strong> Entidad finaciadora </strong> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="pi pi-dollar mt-2"></i></span>
                        </div>
                        <select class="form-control" id="fechaf" [disabled]="true">
                            <option *ngFor="let i of entidadFNombre">{{
                                i.entidadfinanciadora }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Agrega más campos aquí si es necesario -->
            </div>
        </div>
        <br>
        <div class="button-container">
            <button pButton class="p-button-info p-button-outlined boton-redondo mr-2" icon="pi pi-pencil"
                label="Editar" (click)="editProyecto(proyectosform)"></button>
            <button pButton class="p-button-warning p-button-outlined boton-redondo" icon="pi pi-file" label="Archivos"
                (click)="archivoVisible()"></button>
        </div>
    </div>
</div>



<!-- Tabla de datos de Seguimientos -->

<div class="container m-2">
    <div class="project-details">
        <button pButton type="button" label="Agregar Nueva Tarea" icon="pi pi-plus"
            class="p-button-primary m-2 p-button-outlined boton-redondo" (click)="mostrarDialog()"></button>
        <p-card header="Seguimiento">
            <div style="text-align: center">
                <p-table [value]="seguimientosProyecto" [paginator]="true" [rows]="10" [columns]="seguimientosProyecto"
                    class="custom-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr class="custom-header">
                            <th>Id</th>
                            <th>Tarea</th>
                            <th>Duración</th>
                            <th>Tarea Anterior</th>
                            <th>Dias dependencia</th>
                            <th>Tipo de Dependencia</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Estado</th>
                            <th>Responsable</th>
                            <th>Fecha de Fin</th>
                            <th>Pasos</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>{{rowData.id}}</td>
                            <td>{{rowData.descripciontarea}}</td>
                            <td>{{rowData.duracion}}</td>
                            <td>{{ obtenerTareaAnterior(rowData.tarea_anterior) }}</td>
                            <td>{{rowData.diasdependencia}}</td>
                            <td>{{ obtenerTipoDependencia(rowData.tipodependenciaid)}}</td>
                            <td>{{rowData.inicio}}</td>
                            <td>{{rowData.fin}}</td>
                            <td>{{ obtenerEstado(rowData.estadoid) }}</td>
                            <td>{{rowData.responsable}}</td>
                            <td>{{rowData.fechafin}}</td>
                            <td>{{ obtenerPasos(rowData.pasosid) }}</td>

                            <td>
                                <button pButton type="button" label="Editar" icon="pi pi-pencil"
                                    class="p-button-warning m-2 p-button-outlined boton-redondo"
                                    (click)="editarSeguimiento(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </div>
</div>

<!-- Formulario para agregar y editar seguimientos -->

<p-dialog header="{{ seguimientoEditando ? 'Editar Seguimiento' : 'Crear Seguimiento' }}" [(visible)]="displayDialog"
    [modal]="true" [responsive]="true" [style]="{width: '80%'}">
    <form (ngSubmit)="guardarSeguimiento()" class="form-container">
        <div>
            <div class="form-field">
                <label for="descripciontarea">Descripción de Tarea</label>
                <input type="text" id="descripciontarea"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.descripciontarea : nuevoSeguimiento.descripciontarea"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.descripciontarea = $event : nuevoSeguimiento.descripciontarea = $event"
                    name="descripciontarea" required class="input-field">
            </div>

            <div class="form-field">
                <label for="duracion">Duración</label>
                <input type="number" id="duracion"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.duracion : nuevoSeguimiento.duracion"
                    name="duracion"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.duracion = $event : nuevoSeguimiento.duracion = $event"
                    required class="input-field">
            </div>

            <div class="form-field">
                <label for="tarea_anterior">Tarea Anterior</label>
                <select id="tarea_anterior"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.tarea_anterior : nuevoSeguimiento.tarea_anterior"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.tarea_anterior = $event : nuevoSeguimiento.tarea_anterior = $event"
                    name="tarea_anterior" required class="input-field">
                    <option *ngFor="let cont of seguimientosProyecto" [value]="cont.id">{{ cont.descripciontarea }}
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label for="diasdependencia">Días de Dependencia</label>
                <input type="number" id="diasdependencia"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.diasdependencia : nuevoSeguimiento.diasdependencia"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.diasdependencia = $event : nuevoSeguimiento.diasdependencia = $event"
                    name="diasdependencia" required class="input-field">
            </div>

            <div class="form-field">
                <label for="tipodependenciaid">Tipo de Dependencia</label>
                <select id="tipodependenciaid"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.tipodependenciaid : nuevoSeguimiento.tipodependenciaid"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.tipodependenciaid = $event : nuevoSeguimiento.tipodependenciaid = $event"
                    name="tipodependenciaid" required class="input-field">
                    <option *ngFor="let cont of tipoDependencia" [value]="cont.id">{{ cont.tipodependencia }}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="inicio">Inicio</label>
                <input id="inicio" type="date" pInputText
                    [ngModel]="seguimientoEditando ? formatDate(seguimientoEditando.inicio) : formatDate(nuevoSeguimiento.inicio)"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.inicio = $event : nuevoSeguimiento.inicio = $event"
                    name="inicio" required class="input-field">
            </div>

            <div class="form-field">
                <label for="estadoid">Estado</label>
                <select id="estadoid"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.estadoid : nuevoSeguimiento.estadoid"
                    name="estadoid"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.estadoid = $event : nuevoSeguimiento.estadoid = $event"
                    required class="input-field">
                    <option *ngFor="let cont of estado" [value]="cont.id">{{ cont.estado }}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="responsable">Responsable</label>
                <input type="text" id="responsable"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.responsable : nuevoSeguimiento.responsable"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.responsable = $event : nuevoSeguimiento.responsable = $event"
                    name="responsable" required class="input-field">
            </div>

            <div class="form-field">
                <label for="fechafin">Fecha de Fin Real</label>
                <input id="fechafin" type="date" pInputText
                    [ngModel]="seguimientoEditando ? formatDate(seguimientoEditando.fechafin) : formatDate(nuevoSeguimiento.fechafin)"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.fechafin = $event : nuevoSeguimiento.fechafin = $event"
                    name="fechafin" required class="input-field">
            </div>

            <div class="form-field">
                <label for="pasosid">Pasos</label>
                <select id="pasosid"
                    [ngModel]="seguimientoEditando ? seguimientoEditando.pasosid : nuevoSeguimiento.pasosid"
                    (ngModelChange)="seguimientoEditando ? seguimientoEditando.pasosid = $event : nuevoSeguimiento.pasosid = $event"
                    name="pasosid" required class="input-field">
                    <option *ngFor="let cont of pasos" [value]="cont.id">{{ cont.nivel }}</option>
                </select>
            </div>
        </div>

        <button pButton type="submit" label="{{ seguimientoEditando ? 'Actualizar' : 'Guardar' }}"
            class="p-button-success p-button-outlined boton-redondo m-2"></button>
    </form>
</p-dialog>

<!-- {Formulario de edicion de Proyecto}-->

<p-dialog header="Formulario" [(visible)]="visible" [modal]="true" [responsive]="true" [style]="{width: '80%'}">
    <div>
        <form (ngSubmit)="guardarCambios()" class="form-container">
            <div class="form-field">
                <label for="proyecto">Nombre del Proyecto</label>
                <input type="text" id="proyecto" [(ngModel)]="proyectoEditado.proyecto" name="proyecto" required
                    class="input-field">
            </div>

            <div class="form-field">
                <label for="codigo">Código del Proyecto</label>
                <input type="text" id="codigo" [(ngModel)]="proyectoEditado.codigo" name="codigo" required
                    class="input-field">
            </div>

            <div class="form-field">
                <label for="plazo">Plazo</label>
                <input type="number" id="plazo" [(ngModel)]="proyectoEditado.plazo" name="plazo" required
                    class="input-field">
            </div>

            <div class="form-field">
                <label for="fechai">Fecha de Inicio</label>
                <input type="date" id="fechai" [ngModel]="formatDate(proyectoEditado.fechai)"
                    (ngModelChange)="proyectoEditado.fechai = $event" name="fechai" required class="input-field">
            </div>

            <div class="form-field">
                <label for="convocatoria">Convocatoria</label>
                <select id="convocatoria" [(ngModel)]="proyectoEditado.convocatoriaid" name="convocatoria" required
                    class="input-field">
                    <option *ngFor="let convocatoria of convocatoriaNombre" [value]="convocatoria.id">{{
                        convocatoria.convocatoria
                        }}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="rolUniversidad">Rol Universidad</label>
                <select id="rolUniversidad" [(ngModel)]="proyectoEditado.roluniversidadid" name="rolUniversidad"
                    required class="input-field">
                    <option *ngFor="let rol of rolU" [value]="rol.id">{{ rol.rolU }}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="operador">Operador</label>
                <select id="operador" [(ngModel)]="proyectoEditado.operadorid" name="operador" required
                    class="input-field">
                    <option *ngFor="let operador of operadorNombre" [value]="operador.id">{{ operador.operador }}
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label for="entidadFinanciadora">Entidad Financiadora</label>
                <select id="entidadFinanciadora" [(ngModel)]="proyectoEditado.entidadfinanciadora"
                    name="entidadFinanciadora" required class="input-field">
                    <option *ngFor="let entidad of entidadFNombre" [value]="entidad.id">{{ entidad.entidadfinanciadora
                        }}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="grupoInvestigacion">Grupo de Investigación</label>
                <select id="grupoInvestigacion" [(ngModel)]="proyectoEditado.grupoinvestigacionid"
                    name="grupoInvestigacion" required class="input-field">
                    <option *ngFor="let grupo of grupoINombre" [value]="grupo.id">{{ grupo.grupoinvestigacion }}
                    </option>
                </select>
            </div>

            <div class="form-actions">
                <button pButton class="p-button-info p-button-outlined boton-redondo mr-2" type="submit">Guardar
                    Cambios</button>
                <button pButton class="p-button-danger p-button-outlined boton-redondo" type="button"
                    (click)="CerrarDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</p-dialog>

<!-- {Vsta de Archivos por Proyecto} -->

<p-dialog header="ArchivosProyecto" [(visible)]="archivosProyecto" [modal]="true" [responsive]="true"
    [style]="{width: 'width', minWidth: 'minWidth'}">

    <p-table [value]="archivosProyectos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
        class="p-datatable-striped custom-table">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>#</th>
                <th pSortableColumn="nombre_archivo_id">Tipo de Archivo <p-sortIcon
                        field="nombre_archivo_id"></p-sortIcon>
                </th>
                <th pSortableColumn="archivo">Nombre del Archivo <p-sortIcon field="archivo"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ obtenerNombresArchivos(rowData.nombre_archivo_id) }}</td>
                <td class="file-cell">
                    <a [href]="rowData.archivo" target="_blank" class="file-link">
                        <span class="pi pi-file"></span> {{ getFileName(rowData.archivo) }}
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>

</p-dialog>